<!--File name: footer.ejs, 
  Student's name: Ofovwe Ewere
  Student's id: 301188196
  Date: June 4, 2021
-->
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <h4>&copy; Copyright 2021.</h4>
    </div>
  </nav>