<!--File name: about.ejs, 
  Student's name: Ofovwe Ewere
  Student's id: 301188196
  Date: June 4, 2021
-->
<div class="container">
    <h1>About Me</h1>
    <h4>QuickLinks</h4>
      <div>
      <ul>
      <li><a href="/Assets/pdf/resume.pdf">My Resume</a></li>
      </ul>
      </div>
    <h2>Ofovwe Emmanuel Ewere</h2>
    <p>I am fueled by my passion for understanding the nuances of software. As such I consider myself a "forever student", eager to both build on my academic and practical knowlege foundations and to stay in tune with latest development in the field of technology.</p>
    <div><img img src="Assets/images/myimage.jpg"></div>
    
  </div>