<!--File name: contact.ejs, 
  Student's name: Ofovwe Ewere
  Student's id: 301188196
  Date: June 4, 2021
-->
<div class="container">
    <h1>Contact Me</h1>
    <div class="panel panel-default">
    <div class="panel-body">Ofovwe Ewere</div>
    <div class="panel-body">email: ewereeman@gmail.com</div>
    <div class="panel-body">phone number: +12042022189</div>
  </div>
  <div>
  
    </div>
  
  
  </div>
  
  