<!--File name: home.ejs, 
  Student's name: Ofovwe Ewere
  Student's id: 301188196
  Date: June 4, 2021
-->
<div class="container">
    <h1>Welcome to my site!</h1>
    <h2>Quick links </h2>
    <ul>
      <li><a href="/about">About Me</a></li>
      <li><a href="/projects">My Projects</a></li>
      <!-- <li><a href="/services">My Services</a></li> -->
      <li><a href="/contact">Contact Me</a></li>
    </ul>

    <h2>Mission statement</h2>
    <h5>“To deliver efficiency and productivity through the use of my project manangement skills” <br>

 

“To make users lives easier by creating powerful software solutions for users"<br>


“To save time and money for my clients”</h5>
  </div>