<!--File name: projects.ejs, 
  Student's name: Ofovwe Ewere
  Student's id: 301188196
  Date: June 4, 2021
-->
<div class="container">
    <h1>My Projects</h1>
    <h2>Kameo</h2>
    <p  style="margin-bottom:0">Via our client, Kameo, I am part of a team developing their covid testing and vaccine tracking service for Movie and TV productions. This system is currently being used by companies such as Disney and Netflix.
      Skills: Information Security · Front-End Development · Responsive Web Design · SASS · Jira · Test Driven Development · Google Cloud Platform (GCP) · Angular · NestJS · Node.js · TypeORM · Back-End Web Development · MySQL  
    </p>
    <a href="https://app.kameo.co/" style="margin-top:0">Click here to view Kameo</a>
    <div><img img src="Assets/images/kameo.PNG" style="width:100%;"></div>

    <h2>Demo barber ordering app dashboard (MEAN APPLICATION)</h2>
    <p  style="margin-bottom:0">As a personal project, I implemented this demo chat application using Mongo, Express, Angular, Node, Sockets,Typescript, CSS Bootstrap and Redis. 
    </p>
    <a href="https://barberspaldashboard.netlify.app/" style="margin-top:0">Click here to view the demo barberpal dashboard app</a>
    <div><img img src="Assets/images/barberpaldashboard.PNG" style="width:100%;"></div>

    <h2>Demo barberpal customer side (MERN APPLICATION)</h2>
    <p  style="margin-bottom:0">As a personal project, I implemented this demo chat application using Mongo, Express, React, Node, Sockets,Typescript, CSS Bootstrap and Redis. 
    </p>
    <a href="https://barberspal.netlify.app/" style="margin-top:0">Click here to view the demo barberpal app</a>
    <div><img img src="Assets/images/barberpal.PNG" style="width:100%;"></div>

    <h2>Demo chat app (MEAN APPLICATION)</h2>
    <p  style="margin-bottom:0">As a personal project, I implemented this demo chat application using Mongo, Express, Angular, Node, Sockets,Typescript, CSS Bootstrap and Redis. 
    </p>
    <a href="https://koanvochat.herokuapp.com/" style="margin-top:0">Click here to view the demo chat app</a>
    <div><img img src="Assets/images/chatApp.png" style="width:100%;"></div>

    <h2>Tournament bracket website (Release 1.0)</h2>
    <p  style="margin-bottom:0">As one of the software developers in a development team, this app was built to enable tournament enthusiasts to view
      live updates about tournaments. This site was built using Mongo, Express, Embedded javascript, Node, and CSS Bootstrap.   
    </p>
    <a href="https://tournamentbrackets.herokuapp.com/" style="margin-top:0">Click here to view the tournament bracket website</a>
    <div><img img src="Assets/images/tournamentBracket.png" style="width:100%;"></div>

    <h2>Lawn tennis trainer app (Release 1.0)</h2>
    <p  style="margin-bottom:0">As one of the software developers in a development team, this app was built to enable tennis trainer seekers to find tennis trainers. 
      The team has only completed Release 1, and hope to add more features to the website. This website was built with Nodejs, Express, Mongo, Embedded javascript, CSS Bootstrap, and Ajax   
    </p>
    
    <div><img img src="Assets/images/tennisTrainer.png" style="width:100%;"></div>

    

     <h2>Tappy Rover (Release 1.0)</h2>
    <p  style="margin-bottom:0">This game app was built for android phone/tablet game users. I was part of a team that implemented the game engine, and incorporated google play services, google admob, and google pay services. In addition, we implemented a mongo, express, and node backend server for the game.
    </p>
    
    <div><img img src="Assets/images/tappyrover.png" style="width:100%;"></div>

    <br>
    <br>

       
  </div>