<!--File name: services.ejs, 
  Student's name: Ofovwe Ewere
  Student's id: 301188196
  Date: June 4, 2021
-->
<div class="container">
    <h1>My Services</h1>
    <h2>General programming</h2>
    <p>I offer general services programming for java based applications. My computer science degree thought me a lot data structures and algorithms, automata theory and other key courses for general programming.</p>
    <div><img img src="Assets/images/gps.jpg"></div>

    <h2>Android app development</h2>
    <p>During my university days, I learned a lot about Java and I self studied practical textbooks that showed me how to put together an android application. For the future, I plan to learn OS application development. </p>
    <div><img img src="Assets/images/amapp.jpg"></div>

    <h2>Web application development </h2>
    <p>Currently, I can handle some aspects of web application development. These include front end javascript, html and css. I am currently studying a backend web application development course at Centennial college. </p>
    <div><img img src="Assets/images/webdev.png"></div>
  </div>